*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.container {
   width: 100%;
    overflow: unset;
}

header {
  border-bottom: 2px solid #EDEEF2;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
}

.section {
  max-width: 192rem;
  margin: 0 auto;
  background-color: white;
  padding: 0 10rem;
}
 


.section-grid { // SECTION GRID
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  //grid-template-rows: 19rem 8rem 50rem;
  position: relative;
  top: 13rem;
  grid-row-gap: 3rem;
}

.btn{

  padding: 1.2rem 1.4rem;
  background-color: unset;
  border: 2px solid #83859C;
  border-radius: .8rem;
  position: relative;
  top: 0.5rem;
  color: #83859C;
  text-align: center;
}

textarea:focus,input:focus{
  outline: none;
}