*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

.container {
  width: 100%;
}

header {
  border-bottom: 2px solid #EDEEF2;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  width: 100%;
}

.section {
  max-width: 192rem;
  margin: 0 auto;
}

@media only screen and (max-width: 130rem) {
  .section {
    background-color: unset;
  }
}

.section-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[12];
      grid-template-columns: repeat(12, minmax(0, 1fr));
  -ms-grid-rows: 23rem 12rem 20rem;
      grid-template-rows: 23rem 12rem 20rem;
  position: relative;
  top: 9rem;
}

.btn {
  padding: 1.2rem 1.4rem;
  background-color: unset;
  border: 2px solid #83859C;
  border-radius: .8rem;
  position: relative;
  top: 0.5rem;
  color: #83859C;
  text-align: center;
}

textarea:focus, input:focus {
  outline: none;
}

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
.navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 8rem;
  -ms-grid-rows: 8rem;
      grid-template-rows: 8rem;
}

.navigation-left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10rem 0rem;
      grid-template-columns: 10rem 0rem;
}

.navigation-logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.navigation-logo h1 {
  font-size: 2rem;
}

.navigation-logo p {
  font-size: 1.8rem;
  font-weight: 600;
  color: #4E60FF;
}

.navigation-search {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EDEEF2;
  height: 4rem;
  border-radius: 1.2rem;
  padding: 0 1rem;
}

.navigation-search input {
  border: unset;
  background-color: #EDEEF2;
  height: 3rem;
}

.menu {
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-column: 6/13;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.menu__button {
  width: 3rem;
  height: 2px;
  background-color: black;
  position: relative;
  top: 2.4rem;
  margin-right: 1rem;
}

.menu__button::before {
  content: "";
  position: absolute;
  top: 0.8rem;
  width: 100%;
  height: 2px;
  display: block;
  background: black;
}

.menu__button::after {
  content: "";
  position: absolute;
  bottom: 0.8rem;
  width: 100%;
  height: 2px;
  display: block;
  background: black;
}

.menu-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
}

.menu__checkbox {
  display: none;
}

.menu__checkbox:checked ~ .menu-block {
  visibility: visible;
}

.menu-list {
  list-style-type: none;
  cursor: pointer;
  line-height: 3;
  border-radius: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu-list-bg--color:hover {
  background-color: #697BFF;
}

.menu-list:hover .menu-item {
  color: white;
}

.menu-list:hover .menu-list label {
  background-color: #697BFF;
}

.menu-list label {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3;
  cursor: pointer;
  border-radius: .8rem;
  padding: 0 1rem;
}

.menu-item {
  text-decoration: none;
  font-family: 'Nunito', serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3;
  letter-spacing: .1rem;
  color: #000;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 0 1rem;
}

.menu-elements {
  width: 4.8rem;
  height: 4.8rem;
  background-color: #F3F4FF;
  border-radius: 1.6rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.menu-elements-margin {
  margin-right: 1rem;
}

.menu-elements-small::after {
  content: "4";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: calc(85% - 16px / 2);
  top: calc(0% - 16px / 2);
  color: white;
  background-color: #4E60FF;
  border-radius: .8rem;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
}

.menu-profile {
  background: url("../img/profile.png");
  background-size: cover;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 1.6rem;
  border: 2.5px solid white;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  z-index: 2000;
}

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1500;
  top: 8.1rem;
  left: 0;
  visibility: hidden;
}

.navigation__checkbox:checked ~ .navigation__nav {
  visibility: visible;
  background-color: white;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.settings__sidebar {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.settings__sidebar-title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 0.1px;
  color: #2B2B43;
}

.settings__sidebar__menu {
  max-width: 40rem;
  width: 100%;
}

.settings__sidebar__menu-list {
  max-width: 35rem;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 1.6rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  border: 1px solid #F3F4FF;
  list-style-type: none;
}

.settings__sidebar__menu-list:hover {
  background-color: #F3F4FF;
  border: 1px solid #4E60FF;
}

.settings__sidebar__menu-list:first-child .settings__sidebar__menu-list-icon {
  background-color: #4E60FF;
}

.settings__sidebar__menu-list--border {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
}

.settings__sidebar__menu-list-icon {
  width: 3.8rem;
  height: 3.8rem;
  background-color: #EDEEF2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  margin-right: 1rem;
}

.settings__sidebar__menu-list-details h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.1px;
  /* neutral/black */
  color: #2B2B43;
}

.settings__sidebar__menu-list-details p {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #545563;
}

.settings__form {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
}

.settings__form h2 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 0.1px;
  color: #2B2B43;
}

.settings__form__main {
  padding: 1rem;
  border: 1px solid #EDEEF2;
  border-radius: 1.6rem;
}

.settings__form__main h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 1rem;
  letter-spacing: 0.1px;
  color: #2B2B43;
}

.settings__form__main p {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 1rem;
  color: #545563;
}

.settings__form__main__picture-update {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.settings__form__main__picture-update--photo img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1.4rem;
}

.settings__form__main__picture-update input {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #83859C;
  background-color: unset;
  border: 1px solid #edeef2;
  margin-left: 1rem;
  border-radius: .8rem;
  padding: 1rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  top: 1.4rem;
}

.settings__form__main__picture-update input:hover {
  color: #4E60FF;
  border: 1px solid rgba(78, 96, 255, 0.91);
  background-color: #e0e8f8;
}

.settings__form__main--registration label {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 2.6rem;
  color: #545563;
}

.settings__form__main--registration tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.settings__form__main--registration th {
  width: 34rem;
  margin-right: 1.4rem;
}

.settings__form__main--registration td {
  width: 34rem;
  margin-right: 1.4rem;
}

.settings__form__main--registration input {
  border: 1px solid #e0e8f8;
  line-height: 1.6;
  width: 100%;
  padding: 1rem;
  border-radius: .8rem;
}

.settings__form__main--notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #edeef2;
}

.settings__form__main--notification-box {
  width: 35rem;
}

.settings__form__main--notification-box--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.settings__form__main--notification-box--title input {
  width: unset;
  margin-right: 1.4rem;
}

.settings__form__main--notification-box--title label {
  font-size: 1.4rem;
}

.settings__form__main--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8rem;
}

.settings__form__main--footer button:hover {
  border: 2px solid #FF5C60;
  color: #FF5C60;
}

.buttons > button:hover {
  background-color: #4E60FF;
  color: white;
  border: 2px solid #4E60FF;
}

.buttons button {
  margin-left: 1rem;
}

.deals {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  gap: 2rem;
}

.deals-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  border-radius: 1.6rem;
}

.deals-block-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.deals-block-bgcolor1 {
  background-color: #F3F4FF;
}

.deals-block-bgcolor2 {
  background-color: #FFF3ED;
}

.deals-block p {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.1px;
  line-height: 2.8rem;
  margin: 1rem 0;
}

.deals-block h2 {
  font-weight: 800;
  font-size: 4rem;
  line-height: 5.6rem;
  letter-spacing: 0.1px;
  color: #4E60FF;
  margin: 1rem 0;
}

.deals-block span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #83859C;
  position: relative;
  top: 3rem;
}

.categories {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: (15%)[6];
      grid-template-columns: repeat(6, 15%);
  -ms-grid-rows: 7rem;
      grid-template-rows: 7rem;
  gap: 2%;
}

.categories-item {
  border: 1px solid #EDEEF2;
  border-radius: 1.6rem;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.categories-item:hover {
  background-color: #F3F4FF;
  border: 1px solid #697BFF;
  cursor: pointer;
}

.categories span {
  position: relative;
  bottom: .3rem;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #545563;
}

.restaurants {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (32%)[3];
      grid-template-columns: repeat(3, 32%);
  gap: 2%;
  -ms-grid-rows: 4rem auto;
      grid-template-rows: 4rem auto;
}

.restaurants h2 {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  font-size: 2rem;
}

.restaurants-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 20.5rem 12rem 8rem;
      grid-template-rows: 20.5rem 12rem 8rem;
}

.restaurants-card-bg {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3.2rem;
      grid-template-rows: 3.2rem;
  -ms-grid-columns: 10rem;
      grid-template-columns: 10rem;
  background-size: cover;
  border-radius: 1.6rem 1.6rem 0 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.restaurants-card-bg span {
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #4E60FF;
  border-radius: 0 1.6rem 0 1.6rem;
  text-align: center;
  padding: 0.9rem 0;
}

.restaurants-card-title {
  border: 1px solid #EDEEF2;
  border-radius: 0 0 1.6rem 1.6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (3rem)[3];
      grid-template-rows: repeat(3, 3rem);
  padding: 0 1rem;
}

.restaurants-card-title h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #2B2B43;
}

.restaurants-card-title span, .restaurants-card-title p {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #83859C;
}

.restaurants-card-bottom-bg {
  background-size: cover;
  border-radius: 1.6rem 1.6rem 0 0;
  background-repeat: no-repeat;
  position: relative;
  top: 3rem;
}

.restaurants-card-bottom-bg1 {
  background-image: url("../img/bottom1.png");
}

.restaurants-card-bottom-bg2 {
  background-image: url("../img/bottom2.png");
}

.restaurants-card-bottom-bg3 {
  background-image: url("../img/bottom3.png");
}

.restaurants-card-logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10rem)[13];
      grid-template-columns: repeat(13, 10rem);
  gap: 1rem;
}

.restaurants-card-logo-details {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  border-radius: 1.6rem;
  background-color: #EDEEF2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.restaurants-card-logo-details p {
  color: black;
}

.restaurants-card-bg1 {
  background-image: url("../img/royal_sushi.png");
}

.restaurants-card-bg2 {
  background-image: url("../img/burgers.png");
}

.restaurants-card-bg3 {
  background-image: url("../img/ninja_sushi.png");
}
/*# sourceMappingURL=main.css.map */