.deals {
  display: grid;
  grid-column: 1/13;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: minmax(0,21rem);
  gap: 2rem;

  &-block {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(12, minmax(0, 1fr));
    border-radius: 1.6rem;

    &:nth-child(1) {
      grid-column: 1/7;
      background-color: #F3F4FF;
      transition: all .2s linear;

      &:hover {
        background-color: #cfecee;
      }
    }

    &:nth-child(2) {
      grid-column: 7/13;
      background-color: #FFF3ED;
      transition: all .2s linear;

      &:hover {
        background-color: rgba(147, 238, 192, 0.93);
      }
    }

    &-picture{
      grid-column: 1/8;
      grid-row: 1/13;
      width: 100%;
      display: grid;
      align-items: end;
    }
    &-img1 {
      background-image: url("../img/deals1.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 30rem;
      height: 21rem;
      margin: 0 auto;
    }

    &-img2 {
      background-image: url("../img/deals2.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 30rem;
      height: 21rem;
      margin: 0 auto;
    }

    &--content {
      display: grid;
      grid-column: 8/13;
      align-items: center;
      grid-row: 1/13;
      margin-left: 1rem;
      width: 19rem;

      & p {
        font-family: 'Nunito', sans-serif;
        font-style: normal;
        font-weight: 600;
        color: #2B2B43;
        font-size: 2rem;
        letter-spacing: 0.1px;
        line-height: 2.8rem;
      }

      & h2 {
        font-family: 'Nunito', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 56px;
        letter-spacing: 0.1px;
        position: relative;
        bottom: 2.5rem;
      }

      &-color1 {
        color: #4E60FF;
      }

      &-color2 {
        color: #FD6D22;
      }

      & span {
        font-family: 'Nunito', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: #83859C;
      }
    }
  }
}


