html {
  @include respond(tab-land-plus) {
    //@include font60;
  }
}

.section {
  @include respond(tab-port) {
    padding: 0 5rem;
    max-width: 100%;
  }
  @include respond(phone) {
    padding: 0 1.5rem;
    max-width: 100%;
  }
}

.menu {
  @include respond(tab-port) {
    

    .menu__checkbox:checked ~ .menu-block {
      display: grid;

    }
    &-block {
      grid-template-rows: repeat(3, minmax(0, 1fr));
      grid-template-columns: 1fr;
      display: none;
      position: absolute;
      top: 8.2rem;
      right: 7rem;
    }
  }
}

.menu__button {
  @include respond(tab-port) {
    visibility: visible;
    display: flex;
  }
}

.menu-block {
  @include respond(phone) {
    display: none;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 100%;
    position: absolute;
    right: 0;
    top: 8rem;
    //background: rgba(237, 238, 242, 0.8);

    &-list {
      background-color: #edeef2;
      margin-bottom: .2rem;
    }
  }
}


.navigation-search {
  @include respond(tab-port) {
    display: none;
  }
}


.deals {
  @include respond(tab-land) {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: repeat(2, minmax(0, 30rem));
    width: 100%;
    &-block {
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-template-rows: repeat(12, minmax(0, 1fr));

      &:nth-child(1) {
        grid-column: 1/13;
      }

      &:nth-child(2) {
        grid-column: 1/13;
      }

      &-img1 {
        width: 34rem;
        height: 22rem;
        margin: 0 auto;
      }

      &-img2 {
        width: 34rem;
        height: 22rem;
        margin: 0 auto;
      }

      &--content {
        margin: 0;

        & p {
          font-size: 1.6rem;
        }

        & h2 {
          font-size: 4rem;
        }
      }
    }
  }

  @include respond(tab-port) { // DEALS TAB-PORT

    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: repeat(2, minmax(0, 42rem));
    width: 100%;

    &-block {
 
      

      &-picture {
        grid-column: 1/13;
        grid-row: 6/13;
      }

      &-img1 {
        width: 35rem;
        margin: 0 auto;
      }

      &-img2 {
        width: 35rem;
        margin: 0 auto;
      }

      &--content {
        grid-row: 2/6;
        grid-column: 1/13;
        grid-template-rows: repeat(2, minmax(0, 1fr));
        width: 100%;
        padding: 1.8rem;

        p {
          grid-row: 1/2;

        }

        h2 {
          grid-row: 2/3;
          bottom: 0;
        }

        span {
          grid-row: 1/2;
          text-align: end;
        }
      }
    }


  }
}



.categories {

  @include respond(phone) {
    grid-template-rows: repeat(2, minmax(0, 10rem));
    grid-template-columns: repeat(12, minmax(0, 10rem));
    margin-top: 2rem;

    &-item:nth-child(1) {
      grid-row: 1/2;
      grid-column: 1/5;
    }
    &-item:nth-child(2) {
      grid-row: 1/2;
  grid-column: 5/9;
    }
    &-item:nth-child(3) {
      grid-row: 1/2;
      grid-column: 9/13;
    }
    &-item:nth-child(4) {
      grid-row: 2/3;
      grid-column: 1/5;
    }
    &-item:nth-child(5) {
      grid-row: 2/3;
      grid-column: 5/9;
    }
    &-item:nth-child(6) {
      grid-row: 2/3;
      grid-column: 9/13;
    }
  }
}

.restaurants {
  @include respond(tab-port) {
    grid-template-rows: 3rem repeat(3, 1fr);
    gap: 3%;
    
    &-card{
       grid-column: 1/13;
    }
    &-card-bottom-bg1{
      display: none;
    }
    &-card-bottom-bg {
      display: none;
    }
  }
}




