// NAVIGATION *********************************************
.navigation {
  display: grid;
  grid-template-columns: repeat(12, minmax(0,1fr));
  grid-template-rows: minmax(0,8rem);
  width: 100%;

  // LEFT SIDE ****************************************
  &-left {
    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
    grid-column: 1/6;
    align-items: center;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
  }

  // LEFT SIDE  LOGO ***********************************************
  &-logo {
    grid-column: 1/4;

    & h1 {
      font-family: 'Nunito', sans-serif;
      font-weight: 800;
      font-size: 2rem;
      position: relative;
      top: 0.6rem;
    }

    & p {
      font-family: 'Nunito', sans-serif;
      font-size: 2rem;
      font-weight: 800;
      color: #4E60FF;
    }
  }

  //  SEARCH *****************************

  &-search {
    grid-column: 5/13;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EDEEF2;
    height: 4rem;
    border-radius: 1.2rem;
    padding: 0 1rem;
  
    -moz-transition: all .25s linear;
    transition: all .25s linear;
    width: 18rem;

    &:hover {
     width: 22rem;
    }
    & label{
      width: 100%;
    }
    & input {
      border: unset;
      background-color: #EDEEF2;
      height: 3rem;
      width: 100%;
    }
  }

}

// NAVIGATION BAR *************************************
.menu {
  display: grid;
  justify-content: end;
  align-items: center;
  grid-column: 6/13;
  grid-template-columns: repeat(3, minmax(0, auto));
  grid-template-rows: 8rem;
  position: relative;

  &__button {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    visibility: hidden;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 1.6rem;
    background-color: #F3F4FF;
    margin-right: 1rem;
    &--icon {
      position: relative;

      &,
      &::before,
      &::after {
        width: 3rem;
        height: 2px;
        background-color: rgba(131, 133, 156, 1);
        display: inline-block;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
      }

      &::before {
        top: -1rem;
      }

      &::after {
        top: 1rem;
      }
    }
  }


  &-block {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
    justify-content: center;

    &-list {
      list-style-type: none;
      cursor: pointer;
      border-radius: .8rem;
      transition: all .3s;
      display: grid;
      align-items: center;
      justify-content: center;
      height: 4rem;

      &-bg--color:hover {
        background-color: #697BFF;
      }

      &:hover .menu-block-item {
        color: white;
      }


      & label {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 3;
        cursor: pointer;
        border-radius: .8rem;
        padding: 0 1rem;

      }

    }

    &-item {
      text-decoration: none;

      font-family: 'Nunito',sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1px;
      color: #2B2B43;
      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 0 10px;

    }
  }

  &-block2 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: center;

    &-list {
      list-style-type: none;
      cursor: pointer;
      line-height: 3;
      border-radius: .8rem;
      transition: all .3s;
    }
  }


  &-elements {
    width: 4.8rem;
    height: 4.8rem;
    background-color: #F3F4FF;
    border-radius: 1.6rem;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;

    &-margin {
      margin-right: 1rem;
    }

    &-small {

      &::after {
        content: "4";
        display: flex;
        justify-content: center;
        align-items: center;

        width: 2rem;
        height: 2rem;
        position: absolute;
        left: calc(85% - 16px / 2);
        top: calc(0% - 16px / 2);

        color: white;
        background-color: #4E60FF;

        border-radius: .8rem;
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 14px;
      }
    }

  }

  &-profile {
    background: url("../img/profile.png");
    background-size: cover;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 1.6rem;
    border: 2.5px solid white;
  }

}


// CHECKBOX hack ***********************************************************************************************





